.modal-button {
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'DM Sans', serif;
  font-weight: 700;
  font-size: 24px;
  border: 2px solid #DCD4AF;
  border-radius: 8px;
  background: #076058;
  color: #DCD4AF;
  transition: all 0.3s;
  line-height: 24px;
  &:hover {
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.46);
  }
}