.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 100;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.content {
  max-width: 864px;
  padding: 30px;
  margin-top: 120px;
  border: 2px solid #dad2af;
  border-bottom: 2px solid #736c5e;
  border-right: 2px solid #736c5e;
  border-radius: 10px;
  background: #9AA489;
  transform: scale(1.5);
  transition: all 0.2s;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.46),
  inset -2px -2px 10px #1a1c18, inset 5px 5px 10px #d7e0bf;
}

.content-active {
  transform: scale(1);
}

.content-header {
  width: 800px;
  height: 60px;
  background: #DCD4AF;
  margin-bottom: 6px;
  border-radius: 8px;
  font-family: 'DM Sans', "Segoe UI", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #707965;
  transition: all 0.3s;
  padding: 20px;
  color: rgba(0, 0, 0, 0.66);
  text-shadow: 1px 1px 1px #fcefd8;
  box-shadow: 0 0 0 1px #DCD4AF,
  inset 2px 2px 10px #605b4c, inset -5px -5px 10px 2px #f8efd4;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #DCD4AF,
    inset 1px 1px 1px #605b4c, inset 1px 1px 1px 1px #f8efd4;
  }
}

.content-body {
  width: 800px;
  height: 300px;
  background: #DCD4AF;
  margin: 28px 0 46px;
  border-radius: 8px;
  font-family: 'DM Sans', "Segoe UI", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  border: 1px solid #707965;
  transition: all 0.3s;
  padding: 20px;
  resize: none;
  color: rgba(0, 0, 0, 0.66);
  text-shadow: 1px 1px 1px #fcefd8;
  box-shadow: 0 0 0 1px #DCD4AF,
  inset 2px 2px 10px #605b4c, inset -5px -5px 10px 2px #f8efd4;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #DCD4AF,
    inset 1px 1px 1px #605b4c, inset 1px 1px 1px 1px #f8efd4;
  }
  &::placeholder {
    font-weight: 700;
    font-size: 24px;
  }
}

.remaining-header {
  margin-left: 5px;
  font-family: 'DM Sans', serif;
}

.remaining-body {
  position: absolute;
  left: 4%;
  bottom: 95px;
  font-family: 'DM Sans', serif;
}

@media (max-width: 900px) {
  .content {
    max-width: 664px;
  }

  .content-header {
    max-width: 600px;
  }

  .content-body {
    max-width: 600px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content {
    margin: 0;
  }

  .remaining-body {
    left: 35px;
    bottom: 90px;
  }
}

@media (max-width: 680px) {
  .content {
    max-width: 320px;
    padding: 13px;
    margin-top: 60px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.46),
    inset -1px -1px 5px #1a1c18, inset 2px 2px 5px #d7e0bf;
  }
  .content-header {
    max-width: 256px;
    height: 30px;
    margin-bottom: 3px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 0 0 0 1px #DCD4AF,
    inset 1px 1px 5px #605b4c, inset -2px -2px 5px 1px #f8efd4;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px #DCD4AF,
      inset 1px 1px 1px #605b4c, inset 1px 1px 1px 1px #f8efd4;
    }
  }
  .content-body {
    max-width: 256px;
    height: 150px;
    margin: 3px 0 15px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 10px;
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 0 0 0 1px #DCD4AF,
    inset 1px 1px 5px #605b4c, inset -2px -2px 5px 1px #f8efd4;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px #DCD4AF,
      inset 1px 1px 1px #605b4c, inset 1px 1px 1px 1px #f8efd4;
    }
    &::placeholder {
      font-size: 12px;
    }
  }
  .remaining-header {
    font-size: 7px;
  }

  .remaining-body {
    left: 7%;
    bottom: 54px;
    font-size: 7px;
  }
}